  #map {
	   position: absolute;
	   top:16%;
	   left:0%;
         
           height: 84%;
          width: 60%;
          border-style: solid;
          border-color: #000000;
          border-width: thin;
      }
		  #top {
          position: absolute;
          left:0%;
          top:0%;
          height:5%;
          width: 100%;
          background-color: #E0E0E0;
          border-style: solid;
          border-color: #000000;
          border-width: thin;
	  
	  }
	  #drop {
          position: absolute;
          left:0%;
          top:5%;
          height:5%;
          width: 100%;
          background-color: #E0E0E0;
          border-style: solid;
          border-color: #000000;
          border-width: thin;
	  
	  }
	  #counter {
          position: absolute;
          left:0%;
          top:10%;
          height:6%;
          width: 100%;
          background-color: #E0E0E0;
          border-style: solid;
          border-color: #000000;
          border-width: thin;
	  
	  }
	   #start_date{
          position: absolute;
		  top:0%;
          left:35%;
		  width: 10%
         }
		 #end_date{
          position: absolute;
		  top:0%;
          left:45%;
		  width: 10%
         }
	  #parameter {
          position: absolute;
		  top:0%;
          left:55%;
		  width: 15%
         }
		 #graph1{
		 position: absolute;
		 top:16%;
		 left:60%;
		 width:40%;
		 height:42%;
		 border-style: solid;
          border-color: #000000;
          border-width: thin;
		 
		 }
		 #graph2{
		 position: absolute;
		 top:58%;
		 left:60%;
		width:40%;
		 height:42%;
		 border-style: solid;
          border-color: #000000;
          border-width: thin;
		
		 }
		  #legend{
		 position: absolute;
		 bottom:1%;
		 left:1%;
		width:20%;
		 height:35%;
		 z-index: 34;
		  border-style: solid;
          border-color: green;
          border-width: thin;
		  background-color: #FFFFFF;
		
		 }
		 #legend_title{

      position: absolute;
      top:1%;
      left:5%;
       }
		  .symbol{
		 position: relative;
		 top:8%;
		 padding: 5px;
		 left:5%;
		 width:90%;
		 height:10%;
		 z-index: 34;
		 margin-top: 3%;
		 
		 	
		 }
		 .legend_txt{
		 position: relative;
		 left:20%;
		 width:80%;
		 height:100%;
		 z-index: 34;
		  
		 	
		 }
		  #class6{
		 position: absolute;
		left:0%;
		width:17%;
		 height:100%;
		 z-index: 34;
		
		  background-color: #800026;
		
		 }
		 
		  #class5{
		 position: absolute;
		 padding: 5px;
		left:0%;
		width:17%;
		 height:100%;
		 z-index: 34;
		 
		  background-color: #BD0026;
		
		 }
		
		   #class4{
		 position: absolute;
		 left:0%;
		width:17%;
		 height:100%;
		 z-index: 34;
		 
		  background-color: #E31A1C;
		
		 }
		    #class3{
		 position: absolute;
		 left:0%;
		width:17%;
		 height:100%;
		 z-index: 34;
		  
		  background-color: #FC4E2A;
		
		 }
		    #class2{
		 position: absolute;
		 left:0%;
		width:17%;
		 height:100%;
		 z-index: 34;
		 
		  background-color: #FD8D3C;
		
		 }
		    #class1{
		 position: absolute;
		 left:0%;
		width:17%;
		 height:100%;
		 z-index: 34;
		
		  background-color: #FEB24C;
		
		 }
		    #class0{
		 position: absolute;
		 left:0%;
		width:17%;
		 height:100%;
		 z-index: 34;
		 
		  background-color: #FED976;
		
		 }
		 
		 
		  .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "X";
      }
		 